<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>ALL</title>
</head>
<body>

    <div id="all" class="container">
        <!-- TITTLE -->
        <center class="mt-4">
        <h1 class="mb-4"> CURSO - {{titulo}} </h1>
        <!-- FORM -->
        <input @keyup.enter= "agregarFruta()" v-model="frutaUI" type="text" class="form-control w-25" placeholder="AGREGAR FRUTA">
        <input @keyup.enter= "agregarFruta()" v-model.number="valorUI" type="text" class="form-control w-25 mt-2" placeholder="AGREGAR VALOR">

        <button @click= "agregarFruta()" class="btn btn-dark mt-3 mb-3"> AGREGAR </button>
        </center>
        <!-- LIST CARTS -->
        <ul v-for = "fruta of frutas">
            <li v-if="fruta.valor > 1500" style="color: crimson;"> 
                {{fruta.nombre}} - {{fruta.valor}} 
                <button  @click="fruta.valor = fruta.valor - 100" class="btn btn-danger ml-3 mr-1"> - </button>
                <button  @click="fruta.valor = fruta.valor + 100" class="btn btn-success"> + </button>
            </li>
            <li v-else> 
                {{fruta.nombre}} - {{fruta.valor}} 
                <button @click="fruta.valor = fruta.valor - 100" class="btn btn-danger ml-3 mr-1"> - </button>
                <button  @click="fruta.valor = fruta.valor + 100" class="btn btn-success"> + </button>
            </li>
        </ul>
        <ul>
            <h2 class="mt-4" style="color: darkgreen;"> Valor Total : ${{sumarFrutas}} </h2>
        </ul>
    </div>
    
    
    <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js" > </script>
    <script src="../js/all.js"></script>
</body>
</html>